[package]
name = "godot-doc-rs"
version = "0.1.0"
authors = ["Arnaud <arnaud.golfouse@laposte.net>"]
edition = "2018"

[dependencies]
pulldown-cmark = { version = "0.8", default-features = false }
syn = { version = "1.0", default-features = false, features = ["full"] }
thiserror = "1.0"

[profile.release]
lto = true
panic = "abort"
