[package]
name = "godot-doc-rs"
version = "0.0.1"
authors = ["Arnaud Golfouse <arnaud.golfouse@laposte.net>"]
edition = "2018"

[workspace]

[dependencies]
gdnative-doc = { path = "gdnative-doc" }
clap = "2.33"

[profile.release]
lto = true
