/* 
 * Theming for godot documentation 
 * Made to resemble https://github.com/godotengine/godot-docs/blob/master/_static/css/custom.css (dark)
*/

body {
	margin-right: 10rem;
	margin-left: 10rem;
	color: white;
	background-color: #2e3236;
}

body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="button"], input[type="reset"], input[type="submit"], textarea, legend, .btn, .rst-content .toctree-wrapper p.caption, .rst-versions {
	/* Use a system font stack for better performance (no Web fonts required) */
	font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6, legend, .rst-content .toctree-wrapper p.caption {
	/* Use a lighter font for headers (Medium instead of Bold) */
	font-weight: 500;
}

/* Tables */

table, th, td {
	border: solid 1px white;
	border-collapse: collapse;
	padding: 0.8rem;
}

tr:nth-child(odd) {
	background-color: #3b3e41;
}

th {
	background-color: #2e3236;
}

/* Code */

code {
	background-color: #434649;
	border: 1px solid #505356;
	color: #faa;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 3px;
}

pre {
	display: block;
	background-color: #434649;
	padding: .5em .5em;
	border: 1px solid #505356;
	line-height: 1.4;
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
}

pre code {
	padding: 0;
	background-color: inherit;
	border: none;
}

/* Links */

a {
	text-decoration: none;
}

a:link {
	color: #8cf;
}

a:hover {
	color: #9df;
	text-decoration: underline;
}

a:active {
	color: #6ad;
}

a:visited {
	color: #cb99f6;
}